/* BREAK POINT  */
/* PC  */
@media (min-width: 1024px) {
	#header .search-btn {
		display: none;
	}
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
	#header .search-btn {
		display: none;
	}
}

/* MOBILE */
@media (max-width: 740px) {
	#nav > li {
		display: block;
	}
	#header .search-btn {
		display: none;
	}
}
